$background-color:white;
$paragraph-heading-color:#222222;
$paragraph-text-color:#656565;
$blockquote-text-color:#9a9a9a;
$bright-red:#ef4135;
$unordered-list-color:#222222;
$medium-gray:#dbdbdb;
$saturated-red:#ef4035;