.case-banner {
    height: 100%;
	width:100%;
	overflow: hidden;
	position:relative;
}
.banner {
	text-align: center;
	height:100%;
	display:table;
	width:100%;
	&__background{
		width:100%;
		z-index: $z-bottom;
		img{
			position:absolute;
		}
	}
	&__inner{
		display:table-cell;
		vertical-align: middle;
		position:relative;
		width:100%;
		text-align: center;
		z-index: $z-top;
		@include breakpoint(sm){
			padding:0 20px;
		}
	}

    &__title {
        font-family: $futura-font;
        font-weight: 700;
        text-transform: uppercase;
		color:white;
		margin:20px 0 15px;
        @include font-line-height-em(82px, 120px);
        @include breakpoint(md){
            @include font-line-height-em(67px, 85px);
        }
        @include breakpoint(sm){
            @include font-line-height-em(47px, 55px);
        }
    }
    &__description {
    	width:750px;
    	margin:auto;
        @extend %paragraph-text-font;
        @include font-line-height-em(21px, 32px);
        color:white;
        @include breakpoint(md){
            width:100%;
            padding:0 5%;
            @include font-line-height-em(18px, 29px);
        }
        @include breakpoint(sm){
            @include font-line-height-em(16px, 25px);
        }
    }
    &__label{
    	@extend %paragraph-heading-font;
    	font-weight:100;
    	text-transform:uppercase;
    	display:block;
    	letter-spacing:9px;
    	font-size:13px;
    	color:white;
        text-indent: 7px;
		@include breakpoint(md){
			@include font-line-height-em(14px,18px);
		}
		@include breakpoint(sm){
			@include font-line-height-em(12px,16px);
			letter-spacing: 4px;
		}
    }
}
